<!DOCTYPE html>
{% load staticfiles %}

<html lange="en">


<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-widt, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>Page Title</title>
	<style>
		h1{
			font-size: 40px;
			text-align: center;
			margin-top: 40px;
		}
		h5{
			color: black;
		}
		table{
			width: 100px;
			align-items: center;
			background-color: silver;
			opacity: 0.5;
		}
		body{
		  /* The image used */
			

		  /* Full height */
		  height: 100%; 

		  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}		
	</style>
</head>
<header>
	<h1> Таблица победителей </h1>
</header>
<body background="{% static 'image/win.jpg' %}">
	<div class="bg">
		<table class="table table-bordered">
		{% for item in winnersTable %}
			<tr class="active">
				<td class="active"><h5>{{ item.name }}</h5></td>
				<td class="active"><h5>{{ item.email }}</h5></td>
				<td class="active"><h5>{{ item.city }}</h5></td>
			</tr>
			<br>
		{% endfor %}
		</table>
	</div>

</body>
</html>